{% extends 'advito/layout.html' %}
{% block title %}
    <title>Войти</title>
{% endblock title %}
{% block unique_content %}
<h3 class="msg"> Восстановление пароля </h3>
            <hr>
            {% if not user.is_authenticated %}
            <form method="post"> {% csrf_token %}
                {% for field in form%}
                <p> Введите email указанный при регистрации </p>
                  {{ field }}
                {% endfor %}
                  <button type="submit" class='btn btn-info'> Восстановить</button>
                </form>
            <hr>
            {% else %}
                <h3> Привет, {{ user.username }} </h3>
                <a href='{% url 'logout' %}'> Выйти? </a>
                <a href='{% url 'index' %}'> На главную </a>
            {% endif %}
{% endblock unique_content %}